body {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: rgba(0,0,0,.15);
    color: #999;
    font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navbar-default {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
}
.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
    min-height: 60px;
}
.flipthis-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    background: rgba(0,0,0,.3);
}
.flipthis-wrapper .navbar-brand {
    margin: auto !important;
    width: 240px;
    height: 60px;
    text-align: center;
    color: #F9BE03;
    line-height: 60px;
    padding: 0;
    font-size: 15px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 600;
letter-spacing: normal;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
user-select: none;
word-spacing: 0;
writing-mode: horizontal-tb;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)

}
.flipthis-wrapper .navbar-brand:hover {
    color: #F9BE03;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a {
    line-height: 60px;
    height: 60px;
    padding: 0 15px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13.3333px;
    
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:hover,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:active,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:focus{
    background: transparent;
}
body > ombi > div {
    margin-left: 240px !important;
}
#Search:before {
    content: "MENU";
    position: fixed;
    top: 90px;
    left: 14px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
#Search {
    position: fixed;
    top: 60px;
    left: 0;
    padding-bottom: 100vh;
    padding-top: 85px;
    padding-right: 150px;
    background: rgba(0,0,0,.2);
    width: 240px;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Search > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
}
#Requests {
    position: fixed;
    top: 185px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Requests > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#UserManagement:before {
    content: "Admin";
    position: fixed;
    top: 250px;
    left: 15px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
#UserManagement {
    position: fixed;
    top: 310px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#UserManagement > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) {
    position: fixed;
    top: 350px;
    left: 0;
    
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a > i {
    font-size: 115%;
    
}
#bs-example-navbar-collapse-1 {
    
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text, .navbar-default .navbar-nav>li>a:focus {
    color: hsla(0,0%,100%,.7);
}
.navbar-default .navbar-nav>.active>a {
    color: #F9BE03;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}
/* test */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}
/* test */
    


/* 2 */
body {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: rgba(0,0,0,.15);
    color: #999;
    font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.navbar-default {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);
}
.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
    min-height: 60px;
}
body > ombi > nav > div > div.navbar-header > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    background: rgba(0,0,0,.3);
}
body > ombi > nav > div > div.navbar-header > div > a {
    margin: auto !important;
    width: 240px;
    height: 60px;
    text-align: center;
    color: #F9BE03 !important;
    line-height: 60px;
    padding: 0;
    font-size: 15px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-stretch: normal;
font-style: normal;
font-variant-caps: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 600;
letter-spacing: normal;
text-shadow: none;
text-size-adjust: 100%;
text-transform: none;
user-select: none;
word-spacing: 0;
writing-mode: horizontal-tb;
-webkit-box-direction: normal;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0)

}
.flipthis-wrapper .navbar-brand:hover {
    color: #F9BE03;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a {
    line-height: 60px;
    height: 60px;
    padding: 0 15px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13.3333px;
    
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:hover,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:active,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:focus{
    background: transparent;
}
.dropdown-menu {
    background-color: #020a0e !important;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
    border-radius: 4px !important;
    cursor: pointer;
}
.dropdown-menu>li>a {
    color: hsla(0, 0%, 100%, .7);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
}
.dropdown-menu>.active>a {
    color: #F9BE03;
    background: transparent;
}
.dropdown-menu>.active>a:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
}
#Search:before {
    content: "MENU";
    position: fixed;
    top: 90px;
    left: 14px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
#Search {
    position: fixed;
    top: 60px;
    left: 0;
    padding-bottom: 100vh;
    padding-top: 85px;
    padding-right: 150px;
    background: rgba(0,0,0,.2);
    width: 240px;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Search > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
}
#Requests {
    position: fixed;
    top: 185px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Requests > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#UserManagement:before {
    content: "Admin";
    position: fixed;
    top: 250px;
    left: 15px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
#UserManagement {
    position: fixed;
    top: 310px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#UserManagement > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) {
    position: fixed;
    top: 350px;
    left: 0;
    
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a > i {
    font-size: 115%;
    
}
#bs-example-navbar-collapse-1 {
    
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text, .navbar-default .navbar-nav>li>a:focus {
    color: hsla(0,0%,100%,.7);
}
.navbar-default .navbar-nav>.active>a {
    color: #F9BE03;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}
body > ombi > div {
    margin-left: 240px !important;
    width: calc(100vw - 240px) !important;
    margin-top: 60px;
    height: calc(100vh - 60px);
}
#searchTitle {
    font-size: 28px !important;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.71428571;
    color: #eee;
    border-bottom: 2px solid rgba(0,0,0,.3);
}
body > ombi > div > ng-component > h4 {
    display: ;
}
#nav-tabs {
    border-bottom: 2px solid rgba(0,0,0,.3);
    padding-right: 100px;
}
.nav-tabs>li {
    font-size: 20px;
    line-height: 36px;
    float: right;
    margin: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: none;
    color: #F9BE03;
}
.nav-pills>li>a, .nav-tabs>li>a, .pager a {
    color: hsla(0,0%,100%,.45);
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}
.input-group > .input-group-addon.right-radius {
    display: block;
    position: fixed;
    
}
.input-group > #search {
    margin: 50px 0 0 0;
    width: 500px;
    max-width: calc(100vw - 320px);
    
    height: 38px;
    padding: 6px 50px;
    font-size: 14px;
    color: #eee;
    vertical-align: middle;
    background-color: hsla(0, 0%, 100%, .25) !important;
    border-radius: 3px !important;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    line-height: 1.5em;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.input-group > .input-group-addon.right-radius > .btn-group {


    margin-top: -30px;
}
.input-group-addon .btn-group .btn {
    border: none!important;
    padding: 0;
    color: hsla(0,0%,100%,.45)!important;
    font-size: 20px;
    line-height: 20px;
}
.top-spacing[_ngcontent-c0] {
    padding-top: 0;
}
/* test */
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}
/* test */
