div#preloader.preloader.table-wrapper {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-dark.png)!important;
    background-repeat: repeat, no-repeat !important;
    background-attachment: fixed, fixed !important;
    background-position: center center, center center !important;
    background-size: auto, cover !important;
    -webkit-background-size: auto, cover !important;
    -moz-background-size: auto, cover !important;
    -o-background-size: auto, cover !important;
}
