    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////       Begin Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
        :root {
        /* This block is for the Homepage */
            --color-layerOne: #272361;
            --color-layerTwo: #662f8f;
            --color-layerThree: #ed2e72;
            --color-layerFour: #9680bb;
            --color-layerFive: #46bc99;
            --color-tLayerOne: #71cde5;
            --color-tLayerTwo: #ffffff;
    /* This block is for the Login Page */
            --color-loginLayerOne: #272361;
            --color-loginLayerTwo: #662f8f;
            --color-loginLayerThree: #ed2e72;
            --color-loginLayerFour: #9680bb;
            --color-loginLayerFive: #46bc99;
            --color-chatTLayerOne: #71cde5;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for the Chat Page */
            --color-chatLayerOne: #272361;
            --color-chatLayerTwo: #662f8f;
            --color-chatLayerThree: #ed2e72;
            --color-chatLayerFour: #9680bb;
            --color-chatLayerFive: #46bc99;
            --color-chatTLayerOne: #71cde5;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for all the Settings and popup windows */
            --color-extraLayerOne: #272361;
            --color-extraLayerTwo: #662f8f;
            --color-extraLayerThree: #ed2e72;
            --color-extraLayerFour: #9680bb;
            --color-extraLayerFive: #46bc99;
            --color-extraTLayerOne: #71cde5;
            --color-extraTLayerTwo: #ffffff;
    /* This block is for the Calendar Color Codes */
            --color-calAvailable: #42b382;
            --color-calUnavailable: #e9585b;
            --color-calUnreleased: #3f51b5;
            --color-calPremier: #90c1f1;
        }
    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
    </style>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/2949e3da/CSS/Custom/Global.css">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/2949e3da/CSS/Custom/Calendar-Codes.css">
    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Below       ///////////////////////// -->



    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Above       ///////////////////////// -->
    <style>
