    <!-- /////////////////////////     Cal Color Codes     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// -->
    /* Calendar Legend */
        .label.label-primary.well-sm {
            background: var(--color-calAvailable) !important;
        }
        .label.label-danger.well-sm {
            background: var(--color-calUnavailable) !important;
        }
        .label.indigo-bg.well-sm {
            background: var(--color-calUnreleased) !important;
        }
        .label.light-blue-bg.well-sm {
            background: var(--color-calPremier) !important;
        }
    /* Calendar Color Code */
        .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.green-bg {
            background: var(--color-calAvailable) !important;
        }
        .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.red-bg {
            background: var(--color-calUnavailable) !important;
        }
        .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.indigo-bg {
            background: var(--color-calUnreleased) !important;
        }
        .fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.light-blue-bg {
            background: var(--color-calPremier) !important;
        }
    <!-- /////////////////////////     Cal Color Codes     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// -->
