    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
        /* Chat Page Background */
            body#chat.scroller-body {
                background-color: var(--color-chatLayerOne);
            }
        /* Chat Box Background */
            .content-box.big-box.chat.gray-bg {
                background: var(--color-chatLayerTwo) !important;
            }
        /* Received Messages */
            .chat .chat-double > li.chat-inverted > .chat-panel {
                background: var(--color-chatLayerThree) !important;
                border-color: var(--color-chatLayerThree) !important;
            }
        /* Received Message Direction Indicator */
            .chat .chat-double .chat-panel.red-bg:after {
                border-right: 9px solid var(--color-chatLayerThree);
            }
        /* Sent Messages */
            .chat .chat-double li .chat-panel {
                background: var(--color-chatLayerFour) !important;
                border-color: var(--color-chatLayerFour) !important;
            }
        /* Sent Message Direction Indicator */
            .chat .chat-double .chat-panel.blue-bg:after {
                border-left: 9px solid var(--color-chatLayerFour);
            }
        /* Message Username Text */
            h4.pull-left.zero-m {
                color: var(--color-chatTLayerTwo);
            }
        /* Message Date and Time Text */
            p.pull-right {
                color: var(--color-chatTLayerTwo);
            }
        /* Chat Message Text */
            .chat-body {
                color: var(--color-chatTLayerTwo);
            }
        /* Text Input Box */
            input#message.form-control.gray-bg {
                background: var(--color-chatLayerOne) !important;
                border-color: var(--color-chatTLayerTwo);
            }
        /* Online Box Header */
            .content-title.big-box.i-block.gray-bg {
                background-color: var(--color-chatLayerTwo) !important;
                color: var(--color-chatTLayerOne) !important;
            }
        /* Online Box Divider Line */
            .col-lg-2 .content-box {
                background: var(--color-chatLayerOne);
            }
        /* Online Users Box */
            div#onlineusers.big-box {
                color: var(--color-chatTLayerTwo);
                background: var(--color-chatLayerTwo);
            }
        /* Online User Badge */
            .badge-success {
                background: var(--color-chatLayerFive);
            }
    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
