    /* /////////////////////////      Settings Page      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
        /* Settings Page Background */
            body.scroller-body {
                background: var(--color-extraLayerOne) !important;
            }
        /* Settings Panel Background */
            .profile-sidebar {
                background: var(--color-extraLayerTwo) !important;
            }
        /* Main Menu Text */
            .profile-usermenu ul li a {
                color: var(--color-extraTLayerTwo);
            }
        /* Settings Panel Hover */
            .profile-usermenu ul li a:hover {
                background: var(--color-extraLayerThree) !important;
                color: var(--color-extraTLayerOne) !important;
            }
        /* Settings Panel Active */
            .profile-usermenu ul li.active a {
                border-left: 3px solid var(--color-extraLayerFive) !important;
            }
        /* Settings Active Panel Header */
            .email-active .email-header {
                color: var(--color-extraTLayerOne) !important;
                background: var(--color-extraLayerTwo) !important;
            }
    /* /////////////////////////      Settings Page      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
    
    /* /////////////////////////       Logout Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
        /* Background */
            .members-sidebar-open {
                background: var(--color-extraLayerOne) !important
            }
        /* Close Button */
            i.fa.fa-remove.fa-lg.pull-right {
                color: var(--color-extraLayerFive);
            }
        /* Username */
            .profile-usertitle-name {
                color: var(--color-extraTLayerOne)!important;
            }
        /* User Class */
            .profile-usertitle-job {
                color: var(--color-extraTLayerTwo)!important;
            }
        /* Edit Info Button */
            .profile-userbuttons .text-uppercase {
                color: var(--color-extraTLayerTwo) !important;
                background: var(--color-extraLayerFour);
            }
        /* Logout Button */
            button.logout.btn.btn-warning.waves.waves-effect.waves-float {
                color: var(--color-extraTLayerTwo) !important;
                background: var(--color-extraLayerFive);
            }
        /* Update Button */
            input.btn.btn-success.text-uppercase.waves-effect.waves-float {
                color: var(--color-extraTLayerTwo) !important;
                background: var(--color-extraLayerFive);
            }
        /* Go Back Button */
            button#goBackButtons.btn.btn-primary.text-uppercase.waves.waves-effect.waves-float {
                color: var(--color-extraTLayerTwo) !important;
                background: var(--color-extraLayerFour);
            }
        /* Logout Page Text */
            h3.zero-m.text-uppercase {
                color: var(--color-extraTLayerTwo) !important;
            }
            a#logoutSubmit.i-block {
                color: var(--color-extraTLayerTwo) !important;
            }
            a.i-block {
                color: var(--color-extraTLayerTwo) !important;
            }
    /* /////////////////////////       Logout Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */

    /* /////////////////////////      Miscellaneous      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
        /* Not Found Page Body Text */
            h4.text-center{
                color: var(--color-extraTLayerTwo) !important;
            }
    /* /////////////////////////      Miscellaneous      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Custom Module      ///////////////////////// */
