    /* /////////////////////////        Login Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\       Custom Module     ///////////////////////// */
        /* Background */
            .table-cell.text-center {
                background: var(--color-loginLayerOne);
            }
        /* Close Button */
            button.close {
                color: var(--color-loginTLayerOne) !important;
                text-shadow: 0 1px 0 grey;
            }
        /* Login Box Header */
            .biggest-box {
                background: var(--color-loginLayerTwo) !important;
            }
        /* Login Box Header Text */
            h1.zero-m.text-uppercase {
                color: var(--color-loginTLayerOne) !important;
            }
        /* Login Box */
            div.big-box.text-left.login-form {
                color: var(--color-loginTLayerTwo) !important;
                background: var(--color-loginLayerThree);
            }
        /* Dynamic Login Box Text Input Line */
            .form-control.material {
                background-image: linear-gradient(var(--color-loginLayerFive), var(--color-loginLayerFive)), linear-gradient(white, white);
            }
        /* Login Button */
            button#loginSubmit {
                background: var(--color-loginLayerTwo) !important;
            }
        /* Login Button Text */
            button#loginSubmit text {
                color: var(--color-loginTLayerTwo) !important;
            }
        /* Forgot Password Button */
            button#switchForgot {
                background: var(--color-loginLayerFour) !important;
            }
        /* Forgot Password Button Text */
            button#switchForgot text {
                color: var(--color-loginTLayerTwo) !important;
            }
    /* /////////////////////////        Login Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\       Custom Module     ///////////////////////// */
