/* /////////////////////////     CAKE* by leram84    \\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
/* /////////////////////////       Begin Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
 :root {
    --color-layerOne: #272b30;
    --color-layerTwo: #3d3d3d;
    --color-layerThree: #1f2125;
    --color-layerFour: #333333;
    --color-layerFive: #63a8eb;
    --color-tLayerOne: #63a8eb;
    --color-tLayerTwo: #ffffff;
 }
/* /////////////////////////                         \\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
/* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
/* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */