    /* /////////////////////////                         \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////       Begin Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
        :root {
            --color-layerOne: #272361;
            --color-layerTwo: #662f8f;
            --color-layerThree: #ed2e72;
            --color-layerFour: #9680bb;
            --color-layerFive: #46bc99;
            --color-tLayerOne: #71cde5;
            --color-tLayerTwo: #ffffff;
        }
    /* /////////////////////////                         \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
    /* --------------------------------------------------------------------------- */
