/*                         /$$$$$$$  /$$                        */
/*                        | $$__  $$| $$                        */
/*     /$$   /$$ /$$$$$$$ | $$  \ $$| $$ /$$   /$$  /$$$$$$     */
/*    | $$  | $$| $$__  $$| $$$$$$$ | $$| $$  | $$ /$$__  $$    */
/*    | $$  | $$| $$  \ $$| $$__  $$| $$| $$  | $$| $$  \__/    */
/*    | $$  | $$| $$  | $$| $$  \ $$| $$| $$  | $$| $$          */
/*    |  $$$$$$/| $$  | $$| $$$$$$$/| $$|  $$$$$$/| $$          */
/*     \______/ |__/  |__/|_______/ |__/ \______/ |__/ -leram84 */
:root {
    --homepage-bg: #1f1f1f;
    --topbar-bg: #000;
    --sidebar-bg: #282828;
    --bottom-button: #3B3B3B;
    --loading-bg: #000;
    --login-bg: #1f1f1f;
    --chat-bg: #282828;
    --splashscreen-buttons: #4c5054;
    --splashscreen-bg: #000;
    --color-calAvailable:       #42b382;
    --color-calUnavailable:     #e9585b;
    --color-calUnreleased:      #3f51b5;
    --color-calPremier:         #83B0DC;
    --logo-wide: url(/images/blurlogo.png);
    --account-icon: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/account-icon48.png");
    --splashscreen-icon: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/home-gray.png");
    --splashscreen-icon-hover: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/home-white.png");
    --chat-icon: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/chat-gray.png");
    --chat-icon-hover: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/chat-white.png");
    --speedtest-icon: url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/speedtest-icon.png");
}
</style>
<link rel="stylesheet" type="text/css" href="ajax.php?a=show-file&file=https://raw.githubusercontent.com/leram84/layer.Cake/master/CSS/unBlur.css">
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
<!-- \/\/\/\/\/\/\/\/\/   Paste your add-on links below   \/\/\/\/\/\/\/\/\/ -->




<!-- /\/\/\/\/\/\/\/\/\   Paste your add-on links above   /\/\/\/\/\/\/\/\/\ -->
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
<style>
