    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Chat Page Background */
            body#chat.scroller-body {
                background-color: var(--color-layerOne);
            }
        /* Chat Box Background */
            .content-box.big-box.chat.gray-bg {
                background: var(--color-layerTwo) !important;
            }
        /* Received Messages */
            .chat .chat-double > li.chat-inverted > .chat-panel {
                background: var(--color-layerThree) !important;
                border-color: var(--color-layerThree) !important;
            }
        /* Received Message Direction Indicator */
            .chat .chat-double .chat-panel.red-bg:after {
                border-right: 9px solid var(--color-layerThree);
            }
        /* Sent Messages */
            .chat .chat-double li .chat-panel {
                background: var(--color-layerFour) !important;
                border-color: var(--color-layerFour) !important;
            }
        /* Sent Message Direction Indicator */
            .chat .chat-double .chat-panel.blue-bg:after {
                border-left: 9px solid var(--color-layerFour);
            }
        /* Message Username Text */
            h4.pull-left.zero-m {
                color: var(--color-tLayerTwo);
            }
        /* Message Date and Time Text */
            p.pull-right {
                color: var(--color-tLayerTwo);
            }
        /* Chat Message Text */
            .chat-body {
                color: var(--color-tLayerTwo);
            }
        /* Text Input Box */
            input#message.form-control.gray-bg {
                background: var(--color-layerOne) !important;
                border-color: var(--color-tLayerTwo);
            }
        /* Online Box Header */
            .content-title.big-box.i-block.gray-bg {
                background-color: var(--color-layerTwo) !important;
                color: var(--color-tLayerOne) !important;
            }
        /* Online Box Divider Line */
            .col-lg-2 .content-box {
                background: var(--color-layerOne);
            }
        /* Online Users Box */
            div#onlineusers.big-box {
                color: var(--color-tLayerTwo);
                background: var(--color-layerTwo);
            }
        /* Online User Badge */
            .badge-success {
                background: var(--color-layerFive);
            }
    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
