    /* /////////////////////////         Homepage        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Homepage Background */
            body {
                background-color: var(--color-layerOne);
            }
        /* Home Page Notices */
            .jumbotron {
                color: var(--color-tLayerOne);
                background: var(--color-layerTwo);
            }
            .panel-success {
                color: var(--color-tLayerTwo) !important;
                Background: var(--color-layerThree) !important;
                border-color: var(--color-layerTwo)!important;
            }
            .panel-title {
                color: var(--color-tLayerOne);
            }
            .panel-success .panel-heading {
                background: var(--color-layerTwo)!important;
                border-color: var(--color-layerTwo)!important;
            }
            #homepageNotice > div > div > div.panel-body {
                background: var(--color-layerThree);
		border-radius: 3px;
            }
        /* Button Text */
            h1.text-uppercase.text-center {
                color: var(--color-tLayerOne);
            }
        /* Button Background */
            .content-box.green-bg {
                background: var(--color-layerTwo) !important;
            }
        /* Active Speed Test Box Backgrounds */
            .content-box.red-bg {
                background: var(--color-layerTwo) !important;
            }
            .content-box.blue-bg {
                background: var(--color-layerTwo) !important;
            }
            .content-box.yellow-bg {
                background: var(--color-layerTwo) !important;
            }
        /* Active Speed Test Active */
            .ultra-widget.green-bg .w-used {
                background-color: var(--color-layerFive) !important;
            }
            .ultra-widget.red-bg .w-used {
                background-color: var(--color-layerFive) !important;
            }
            .ultra-widget.blue-bg .w-used {
                background-color: var(--color-layerFive) !important;
            }
            .ultra-widget.yellow-bg .w-used {
                background-color: var(--color-layerFive) !important;
            }
        /* Media Search Search Bar */
            div.input-group-addon {
                color: var(--color-layerFive)!important;
                background: var(--color-layerThree) !important;
            }
            .input-group-addon {
                color: var(--color-tLayerTwo)!important;
                background: var(--color-layerThree) !important;
            }
        /* Media Search Body Header Bar Active */
            .table-stripped thead th {
                background: var(--color-layerThree);
                border-bottom: 2px solid var(--color-layerTwo)!important;
            }
        /* Media Search Body Active */
            table.table.table-hover.table-stripped {
                background: var(--color-layerFour);
            }
        /* Media Search Body Active Text and Border */
            tr.openTab{
                color: var(--color-tLayerTwo);
                border-top: 2px solid var(--color-layerThree);
            }
        /* Media Search Body Active Content Count */
            .badge {
                background: var(--color-layerThree) !important;
            }
        /* Media Search Body Active Content Count Icons */
            .fa-film.white {
                color: var(--color-layerFive);
            }
            .fa-tv.white {
                color: var(--color-layerFive);
            }
            .fa-music {
                color: var(--color-layerFive);
            }
        /* Media Search Body Active Content Hover */
            .table-hover>tbody>tr:hover {
                background-color: var(--color-layerThree);
            }
        /* Download Tile */
            .tabbable.panel.with-nav-tabs.panel-default, .panel-default>.panel-heading, .panel-default>.panel-heading, .table-responsive, .content-tools a {
                color: var(--color-tLayerTwo);
                background: var(--color-layerTwo) !important;
                border-color: var(--color-layerTwo);
            }
        /* Download Tile Border Radius */
            .content-box {
                background: var(--color-layerTwo);
            }
        /* Download Tile Header Text */
            .panel-default>.panel-heading {
                color: var(--color-tLayerOne);
            }
        /* Download Tile Header Background */
            .progress-widget.table-striped > thead {
                background-color: var(--color-layerThree);
            }
        /* Download Tile Tabs */
            .panel.with-nav-tabs .panel-heading .nav-tabs > li.active a {
               color: var(--color-tLayerTwo) !important;
               background: var(--color-layerThree) !important;
               border: 1px solid transparent !important;
            }
        /* Download Tile Inactive Tab Hover */
            .panel.with-nav-tabs .panel-heading .nav-tabs > li a:hover {
                background: var(--color-layerFour);
            }
            #downloadClientRow  ul > li a {
                background: var(--color-layerThree);
                color: var(--color-tLayerTwo);
            }
        /* Download Tile Down Arrow */
            .fa-chevron-down {
                color: var(--color-layerFive);
            }
        /* Download Tile Refresh Icon */
            .repeat-btn {
                color: var(--color-layerFive) !important;
            }
        /* Download Tile Header Line Upper Border */
            .table>thead>tr>th {
                vertical-align: top;
                border-top: 1px solid var(--color-layerTwo) !important;
            }
        /* Download Tile Header Line Lower Border */
            .table>thead>tr>th {
                vertical-align: bottom;
                border-bottom: 0px;
            }
        /* Download Tile Even Rows */
            .progress-widget.table-striped > tbody > tr:nth-of-type(even) {
                vertical-align: top;
                border-top: 2px solid var(--color-layerThree) !important;
                background-color: var(--color-layerThree);
            }
        /* Download Tile Odd Rows */
            .progress-widget.table-striped > tbody > tr:nth-of-type(odd) {
                vertical-align: top;
                border-top: 2px solid var(--color-layerFour) !important;
                background-color: var(--color-layerFour);
            }
        /* Downloading Items Progress Bar Background */
            .progress-widget .progress {
                background-color: var(--color-tLayerTwo);
            }
        /* Downloading Items Progress Bar Active */
            .progress-bar-success {
                background-color: var(--color-layerFive);
            }
        /* Now Playing Text (1.4-)*/
            #streamz > .text-center {
                font-size: 18px;
                font-weight: 500;
                color: var(--color-tLayerOne)
            }
        /* Now Playing Header Text (1.41+) */
            #streamz > h5 > strong {
                color: var(--color-tLayerOne);
                font-size: 18px;
                font-weight: 500;
            }
        /* Now Playing Tile Background */
            .thumbnail.ultra-widget  {
                background-color: var(--color-layerTwo);
                border-color: var(--color-layerTwo);
            }
        /* Now Playing Content Title */
            h5.text-center.zero-m.elip {
                color: var(--color-tLayerTwo);
            }
        /* Now Playing Content Small Text */
            small.zero-m {
                color: var(--color-tLayerTwo);
            }
        /* Now Playing Play Content Icon */
            i.fa.fa-play {
                color: var(--color-tLayerTwo);
            }
        /* Now Playing Content Pause Icon */
            i.fa.fa-pause {
                color: var(--color-tLayerTwo);
            }
        /* Now Playing Content Progress Bar */
            .progress.progress-bar-sm.zero-m > .progress-bar.progress-bar-success {
                background-color: var(--color-layerFive) !important;
            }
        /* Now Playing Bottom Margin */
        #plexRowNowPlaying {
            margin-bottom: 5px;
        }
        /* Recently Added Tile Background */
            .box-shadow.content-box {
                background: var(--color-layerTwo);
            }
        /* Recently Added Text */
            #recentMedia .text-center {
                font-size: 18px;
                font-weight: 500;
                color: var(--color-tLayerOne);
            }
        /* Recently Added Left Right Buttons */
            a.pull-left.next-mail.btn.btn-default.waves.waves-button.btn-sm.waves-effect.waves-float.slick-arrow {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerThree);
            }
            a.zero-m.pull-left.prev-mail.btn.btn-default.waves.waves-button.btn-sm.waves-effect.waves-float.slick-arrow {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerThree);
            }
        /* Recently Added Filter Button */
            button.btn.waves.btn-default.btn-sm.dropdown-toggle.waves-effect.waves-float {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerThree);
            }
        /* Recently Added Filter Button Active */
            .dropdown-menu>li>a {
                color: var(--color-tLayerTwo) ;
                background: var(--color-layerThree); 
                margin-left: 0px !important; 
            }
            .dropdown-menu {
                background-color: var(--color-layerThree)  !important;
            }
        /* Recently Added Filter Button Active Hover */
            .dropdown-menu>li>a:hover {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerFour);
            }
        /* Recently Added Content Text */
            .slick-active {
                color: var(--color-tLayerTwo);
            }
        /* Playlist Headers */
            #plexPlaylists h5.text-center {
                font-size: 18px;
                font-weight: 500;
                color: var(--color-tLayerOne);    
            }
        /* Media List Hover Animations */
            .slick-slide img {
                max-width: 100%;
                -moz-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
                opacity: .8 !important;
            }
            .slick-slide:hover img {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(.9);
                z-index: 10000000;
                border-radius: 10px;
                opacity: 1 !important;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
        /* View All Button */
            .form-control, .form-control:focus {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerTwo);
                border-color: var(--color-layerTwo);
            }
        /* Calendar Top Bar */
            .fc-calendar .fc-toolbar {
                background: var(--color-layerTwo);
                color: var(--color-tLayerOne);
            }
        /* Calendar Left Right Buttons */
            .fc-calendar .fc-toolbar .fc-prev-button, .fc-calendar .fc-toolbar .fc-next-button {
                color: var(--color-layerFive);
            }
        /* Calendar Navigation Text Buttons */
            .fc-calendar .fc-toolbar .fc-right button {
                color: var(--color-layerFive);
            }
        /* Calendar Header Background */
            .fc-calendar {
                background-color: var(--color-layerTwo);
            }
        /* Calendar Body Header Row */
            .fc-calendar .fc-day-header {
                color: var(--color-tLayerTwo);
                background-color: var(--color-layerThree);
                border-color: var(--color-layerThree) !important;
            }
        /* Calendar Body Header Row Outside Border */
            .fc-head-container {
                border-color: var(--color-layerTwo)!important;
            }
        /*  Calendar Month View Day Numbers */
            .fc-basic-view .fc-day-number {
                color: var(--color-tLayerTwo);
            }
        /* Calendar Body Background */
            .fc-day-grid {
                background: var(--color-layerFour);
            }
        /* Calendar Body Outside Border */
            .fc-body > tr > .fc-widget-content {
                border-color: var(--color-layerOne);
            }
        /* Calendar Body Inside Border Lines */
            .fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
                border-color: var(--color-layerThree);
            }
        /* Calendar Current Day Highlight */
            .fc-unthemed .fc-today{
                color: var(--color-tLayerTwo);
                background: var(--color-layerThree) !important;
            }
    /* /////////////////////////         Homepage        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */

    /* /////////////////////////        Login Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Background */
            .table-cell.text-center {
                background: var(--color-layerOne);
            }
        /* Close Button */
            button.close {
                color: var(--color-layerFive) !important;
                text-shadow: 0 1px 0 grey;
            }
        /* Login Box Header */
            .biggest-box {
                background: var(--color-layerTwo) !important;
            }
        /* Login Box Header Text */
            h1.zero-m.text-uppercase {
                color: var(--color-tLayerOne) !important;
            }
        /* Login Box */
            div.big-box.text-left.login-form {
                color: var(--color-tLayerTwo) !important;
                background: var(--color-layerThree);
            }
        /* Login Box Border Radius */
            .in .content-box {
                background: var(--color-layerTwo);
            }
        /* Login Button */
            button#loginSubmit {
                background: var(--color-layerTwo) !important;
            }
        /* Login Button Text */
            button#loginSubmit text {
                color: var(--color-tLayerTwo) !important;
            }
        /* Forgot Password Button */
            button#switchForgot {
                background: var(--color-layerFour) !important;
            }
        /* Forgot Password Button Text */
            button#switchForgot text {
                color: var(--color-tLayerTwo) !important;
            }
    /* /////////////////////////        Login Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */

    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Chat Page Background */
            body#chat.scroller-body {
                background-color: var(--color-layerOne);
            }
        /* Chat Box Background */
            .content-box.big-box.chat.gray-bg {
                background: var(--color-layerTwo) !important;
            }
        /* Received Messages */
            .chat .chat-double > li.chat-inverted > .chat-panel {
                background: var(--color-layerThree) !important;
                border-color: var(--color-layerThree) !important;
            }
        /* Received Message Direction Indicator */
            .chat .chat-double .chat-panel.red-bg:after {
                border-right: 9px solid var(--color-layerThree);
            }
        /* Sent Messages */
            .chat .chat-double li .chat-panel {
                background: var(--color-layerFour) !important;
                border-color: var(--color-layerFour) !important;
            }
        /* Sent Message Direction Indicator */
            .chat .chat-double .chat-panel.blue-bg:after {
                border-left: 9px solid var(--color-layerFour);
            }
        /* Message Username Text */
            h4.pull-left.zero-m {
                color: var(--color-tLayerTwo);
            }
        /* Message Date and Time Text */
            p.pull-right {
                color: var(--color-tLayerTwo);
            }
        /* Chat Message Text */
            .chat-body {
                color: var(--color-tLayerTwo);
            }
        /* Text Input Box */
            input#message.form-control.gray-bg {
                background: var(--color-layerOne) !important;
                border-color: var(--color-tLayerTwo);
            }
        /* Online Box Header */
            .content-title.big-box.i-block.gray-bg {
                background-color: var(--color-layerTwo) !important;
                color: var(--color-tLayerOne) !important;
            }
        /* Online Box Divider Line */
            .col-lg-2 .content-box {
                background: var(--color-layerOne);
            }
        /* Online Users Box */
            div#onlineusers.big-box {
                color: var(--color-tLayerTwo);
                background: var(--color-layerTwo);
            }
        /* Online User Badge */
            .badge-success {
                background: var(--color-layerFive);
            }
    /* /////////////////////////        Chat Room        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
    
    /* /////////////////////////      Settings Page      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Settings Page Background */
            body.scroller-body {
                background: var(--color-layerOne) !important;
            }
        /* Settings Panel Background */
            .profile-sidebar {
                background: var(--color-layerTwo) !important;
            }
        /* Main Menu Text */
            .profile-usermenu ul li a {
                color: var(--color-tLayerTwo);
            }
        /* Settings Panel Hover */
            .profile-usermenu ul li a:hover {
                background: var(--color-layerThree) !important;
                color: var(--color-tLayerOne) !important;
            }
        /* Settings Panel Active */
            .profile-usermenu ul li.active a {
                border-left: 3px solid var(--color-layerFive) !important;
            }
        /* Settings Active Panel Header */
            .email-active .email-header {
                color: var(--color-tLayerOne) !important;
                background: var(--color-layerTwo) !important;
            }
    /* /////////////////////////      Settings Page      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
    
    /* /////////////////////////       Logout Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Background */
            .members-sidebar-open {
                background: var(--color-layerOne) !important;
            }
        /* Close Button */
            i.fa.fa-remove.fa-lg.pull-right {
                color: var(--color-layerFive);
            }
        /* Username */
            .profile-usertitle-name {
                color: var(--color-tLayerOne)!important;
            }
        /* User Class */
            .profile-usertitle-job {
                color: var(--color-tLayerTwo)!important;
            }
        /* Edit Info Button */
            .profile-userbuttons .text-uppercase {
                color: var(--color-tLayerTwo) !important;
                background: var(--color-layerFour);
            }
        /* Logout Button */
            button.logout.btn.btn-warning.waves.waves-effect.waves-float {
                color: var(--color-tLayerTwo) !important;
                background: var(--color-layerFive);
            }
        /* Update Button */
            input.btn.btn-success.text-uppercase.waves-effect.waves-float {
                color: var(--color-tLayerTwo) !important;
                background: var(--color-layerFive);
            }
        /* Go Back Button */
            button#goBackButtons.btn.btn-primary.text-uppercase.waves.waves-effect.waves-float {
                color: var(--color-tLayerTwo) !important;
                background: var(--color-layerFour);
            }
        /* Logout Page Text */
            h3.zero-m.text-uppercase {
                color: var(--color-tLayerTwo) !important;
            }
            a#logoutSubmit.i-block {
                color: var(--color-tLayerTwo) !important;
            }
            a.i-block {
                color: var(--color-tLayerTwo) !important;
            }
    /* /////////////////////////       Logout Page       \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */

    /* /////////////////////////      Miscellaneous      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */
        /* Not Found Page Body Text */
            h4.text-center{
                color: var(--color-tLayerTwo) !important;
            }
    /* /////////////////////////      Miscellaneous      \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      Default Module     ///////////////////////// */

    /* /////////////////////////          Clean          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\            Up           ///////////////////////// */
        /* Settings Active Panel Background */
            div.email-inner.small-box {
                background: var(--color-layerTwo);
            }
        /* Settings Active Panel Form Text */
            .form-inline .form-control {
                color: var(--color-tLayerTwo);
            }
        /* Edit Tabs Panel Odd Rows */
            #submitTabs ul > li {
                background: var(--color-layerFour);
            }
        /* Edit Tabs Panel Odd Even */
            .todo li:nth-child(even) {
                background: var(--color-layerThree) !important;
            }
        /* Text */
            body.scroller-body {
                color: var(--color-tLayerTwo);
            }
        /* Edit Tabs Chevron Icon */
            .form-inline .input-group .input-group-addon {
                background: var(--color-layerTwo) !important;
            }
            .email-active {
                background: var(--color-layerTwo) !important;
            }
            .email-active .in > .row {
                background: var(--color-layerThree);
                padding-left: 20px;
            }
            .email-active .active.in {
                background: var(--color-layerThree);
                border-left: 2px solid;
                border-right: 2px solid;
                border-bottom: 2px solid;
            }
            .email-active .apps.active a {
                background: var(--color-layerThree)!important;
                border-color: var(--color-layerThree)!important;
            }
            .email-active .apps.active {
                border-left: 2px solid !important;
                border-top: 2px solid !important;
                border-right: 2px solid !important;
                border-color: var(--color-tLayerTwo);
            }
            .in.tab-pane h3 {
                color: var(--color-tLayerOne);
            }
            .colour-field.col-lg-6 {
                background: var(--color-layerTwo) !important;
                border-color: var(--color-tLayerTwo);
            }
            .colour-field.col-lg-4 {
                background: var(--color-layerTwo) !important;
                border-color: var(--color-tLayerTwo);
            }
            .users-box .table-striped {
                background: var(--color-layerThree);
            }
            .table-striped>tbody>tr:nth-of-type(odd) {
                background-color: var(--color-layerFour);
            }
	    	#datatable_length label {
                color: var(--color-tLayerTwo);
            } 
            #datatable_length select {
                color: var(--color-tLayerTwo);
                background: var(--color-layerThree);
            }
            table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1, table.dataTable thead th.sorting_asc, table.dataTable thead th.sorting_desc {
                background-color: var(--color-layerThree);
            }
            table.dataTable.stripe tbody tr.even, table.dataTable.display tbody tr.even, table.dataTable thead th.sorting {
                background-color: var(--color-layerFour);
            }
            table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
                background-color: var(--color-layerFour);
            }
            table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
                background-color: var(--color-layerThree);
            }
            #datatable_info {
                color: var(--color-tLayerTwo);
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button {
                background: var(--color-layerThree);
                padding: 6px 12px;
                border-right: 1px solid var(--color-layerTwo);
                color: var(--color-tLayerTwo) !important;
                margin: 0;
            }
            #datatable_paginate .current {
                color: var(--color-tLayerOne)!important;
                background: var(--color-layerFour);
                border: 1px solid var(--color-layerFour);
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
                color: var(--color-tLayerTwo) !important;
            }
            .dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active, .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
                background: var(--color-layerFour);
                color: var(--color-tLayerTwo) !important;
                border-color: var(--color-layerFour);
            }
            #datatable_paginate {
                color: var(--color-tLayerTwo)!important;
                background: var(--color-layerThree);
            }
            #loginStats > div > div > div#goodPercent.progress-bar.progress-bar-success {
                background-color: #42b382!important;
            }
            ul#settings-list.nav > li.active a {
                color: var(--color-tLayerOne)!important;
            }
            div.colour-field input {
                border: 1px solid var(--color-tLayerTwo);
            }
            #donate-org > div > div > div > div > div.container > h2 > strong > em.gray {
                color: var(--color-tLayerTwo);
            }
            #donate-org > div > div > div > div.jumbotron > div.container > p.pull-right {
                color: var(--color-tLayerTwo);
            }
        /* /////////////////////////          Clean          \\\\\\\\\\\\\\\\\\\\\\\\\ */
        /* \\\\\\\\\\\\\\\\\\\\\\\\\            Up           ///////////////////////// */
