/* omBlur.alpha-leram84 */
:root {
    --color-one:       #42b382;
    --color-two:       #e9585b;
    --color-three:     #3f51b5;
    --color-four:      #83B0DC;
}
</style>
<link rel="stylesheet" type="text/css" href="https://rawgit.com/tidusjar/layer.Cake/master/ombi/css/omBlur.css">
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
<!-- \/\/\/\/\/\/\/\/\/   Paste your add-on links below   \/\/\/\/\/\/\/\/\/ -->




<!-- /\/\/\/\/\/\/\/\/\   Paste your add-on links above   /\/\/\/\/\/\/\/\/\ -->
<!--           _      _    _                     _    _      _               -->
<!--          /_\  __| |__| |___ _ _            | |  (_)_ _ | |__ ___        -->
<!--         / _ \/ _` / _` / _ \ ' \           | |__| | ' \| / /(_-<        -->
<!--        /_/ \_\__,_\__,_\___/_||_|          |____|_|_||_|_\_\/__/        -->
<style>
