body {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png");
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: rgba(0,0,0,.15);
    color: #999;
    font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.pace-progress {
   display: none;
}
.pace .pace-activity {
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid #CC7B19;
    width: 24px;
    height: 24px;
    right: auto;
    left: 15px;
    top: 17px;
}
.ui-tooltip.ui-tooltip-top {
    top: 60px;
    left: 965.258px;
    display: block;
    margin-top: 3px;
    padding: 5px 0;
}
.ui-tooltip .ui-tooltip-text {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 3px;
    white-space: pre-line;
}
.ui-shadow {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}
.navbar-default {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.2);    
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png);
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: center center, center center, center center;
    background-size: auto, auto, cover;
    -webkit-background-size: auto, auto, cover;
    -moz-background-size: auto, auto, cover;
    -o-background-size: auto, auto, cover;
}
.navbar {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 12px;
    min-height: 60px;
}
body > ombi > div > nav > div > div.navbar-header > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 60px;
    background: rgba(0,0,0,.3);
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li.dropdown.open > ul {
    margin-right: 5px;
}
body > ombi > div > nav > div > div.navbar-header > div:hover {
    background: rgba(0,0,0,.45);
}
body > ombi > div > nav > div > div.navbar-header > div > a:hover {
    color: #fff !important;
}
.flipthis-wrapper .navbar-brand {
    margin: auto !important;
    width: 240px;
    height: 60px;
    text-align: center;
    color: #F9BE03 !important;
    line-height: 60px;
    padding: 0;
    font-size: 15px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    user-select: none;
    word-spacing: 0;
    writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body > ombi > div > nav > div > div.navbar-header > div > a {
    margin: auto !important;
    width: 240px;
    height: 60px;
    text-align: center;
    color: #F9BE03 !important;
    line-height: 60px;
    padding: 0;
    font-size: 15px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 600;
    letter-spacing: normal;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    user-select: none;
    word-spacing: 0;
    writing-mode: horizontal-tb;
    -webkit-box-direction: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.flipthis-wrapper .navbar-brand:hover {
    color: #fff !important;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown {
    line-height: 60px;
    height: 60px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a {
    line-height: 60px;
    height: 60px;
    padding: 0 15px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13.3333px;

}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:hover,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:active,
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right >li.dropdown > a:focus {
    background: transparent;
}
.fa.fa-language > .caret {
    margin: 5px 5px 0 5px;
}
.dropdown-menu {
    background-color: #020a0e !important;
    -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .35);
    border-radius: 4px !important;
    cursor: pointer;
}
#TvShowTab > div.input-group > div > div > ul,
#MoviesTab > div.input-group > div > div > ul {
    margin-top: -25px;
}
.dropdown-menu>li>a {
    color: hsla(0, 0%, 100%, .7);
    font-size: 14px;
    padding: 8px 20px;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
}
.dropdown-menu>.active>a {
    color: #F9BE03;
    background: transparent;
}
.dropdown-menu>.active>a:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
}
#Search:before {
    content: "MENU";
    position: fixed;
    top: 90px;
    left: 14px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
#Search {
    position: fixed;
    top: 60px;
    left: 0;
    padding-bottom: 100vh;
    padding-top: 85px;
    padding-right: 150px;
    background: rgba(0,0,0,.2);
    width: 240px;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Search > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
.fa.fa-plus {
    padding-right: 3px;
}
.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
}
#Requests {
    position: fixed;
    top: 185px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#Requests > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#UserManagement:before {
    content: "Admin";
    position: fixed;
    top: 250px;
    left: 15px;
    height: 45px;
    color: hsla(0,0%,100%,.3);
    text-transform: uppercase;
    font-size: 12px;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 45px;
    font-weight: 600;
}
.fa.fa-user {
    padding-left: 2px;
}
#UserManagement {
    position: fixed;
    top: 310px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#UserManagement > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(1) {
    position: fixed;
    top: 350px;
    left: 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) {
    position: fixed;
    top: 390px;
    left: 0;

}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right > li:nth-child(1) > a > i {
    font-size: 115%;
}
.fa.fa-warning {
    color: #CC7B19 !important;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a {
    width: 235px;
    border-radius: 0 4px 4px 0;
    font-size: 13px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
#bs-example-navbar-collapse-1 > ul:nth-child(4) > li > a > i {
    font-size: 115%;

}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text,
.navbar-default .navbar-nav>li>a:focus {
    color: hsla(0,0%,100%,.7);
}
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a {
    color: #F9BE03 !important;
}
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: hsla(0,0%,100%,.08) !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
}
.container {
    padding: 0 30px 0 30px;
    margin-right: 0;
}
body > ombi > div> .container {
    margin-left: 240px !important;
    width: calc(100vw - 240px) !important;
    margin-top: 60px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
        width: 14px;
}
.container::-webkit-scrollbar-track {
    background-color: transparent;
}
.container::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0,0%,100%,.2);
    background-clip: padding-box;
}
.container::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0,0%,100%,.3);
}
.container > ng-component > h1 {
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px !important;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    height: 60px;
    letter-spacing: normal;
    line-height: 60px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 270px;
    z-index: 999999;
    color: #eee;
}
.container > ng-component > h4 {
    display: none;
}
.container > ng-component > br{
    display: none;
}
#nav-tabs {
    border-bottom: 2px solid rgba(0,0,0,.3);
    margin-top: 60px;
}
.nav-tabs>li {
    font-size: 20px;
    line-height: 36px;
    float: right;
    margin-left: 30px;
    cursor: pointer;
}
.nav-tabs>li>a {
    padding: 10px 0 15px 10px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    border: none;
    color: #F9BE03;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
}
.nav-pills>li>a,
.nav-tabs>li>a,
.pager a {
    color: hsla(0,0%,100%,.45);
    border: none;
}
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}
.input-group > .input-group-addon.right-radius {
    display: block;
    float: left;
    margin-top: 33px;

}
/* #MoviesTab > div.input-group {
    display: block;
    float: left;
} */
.input-group > #search {
    float: right;
    margin: 30px 0 0 -47px;
    padding: 6px 40px;
}
#search::-webkit-input-placeholder {
   color:transparent;
}
#search:-moz-placeholder {
   color:transparent; 
}
#search::-moz-placeholder {
   color:transparent; 
}
#search:-ms-input-placeholder {  
   color:transparent;
}
#search {
    width: 500px;
    max-width: calc(100vw - 300px);
    display: block;
    margin-top: -30px;
    height: 38px;
    padding: 6px 40px;
    font-size: 14px;
    color: #eee;
    vertical-align: middle;
    background-color: hsla(0, 0%, 100%, .20) !important;
    border-radius: 3px !important;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    line-height: 1.5em;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
movie-requests > div.form-group {
    margin: 40px 0;
}
movie-requests > div.form-group:before{
    content: "\F002";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    font-weight: 400;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    padding-left: 16px;
    height: 15px;
    width: 15px;
}
.input-group > .input-group-addon.right-radius > .btn-group {
    position: fixed;
    top: 20px;
    left: 375px;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px !important;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    width: 115px;
    letter-spacing: normal;
    line-height: 60px;
    z-index: 9999;
}
.btn-primary-outline:focus, .btn-primary-outline:hover, .open>.btn-primary-outline.dropdown-toggle {
    color: #fff!important;
    background-color: transparent!important;
    border-color: transparent !important;
}
.input-group-addon .btn-group .btn {
    border: none!important;
    padding: 0;
    color: hsla(0,0%,100%,.65)!important;
    font-family: "Open Sans Semibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-weight: 300;
    line-height: 20px;
    height: 60px;
}
.input-group-addon .btn-group .btn:hover {
    color: #fff !important;
}
.fa-chevron-down:before {
    display: none;
}
.fa-chevron-down:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    padding-bottom: 5px;
    vertical-align: middle;
    border-color: hsla(0, 0%, 100%, .6);
    border-top: 5px solid;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 7px 0px 0px 2px;
}
.input-group-addon {
    color: #fff;
    background: transparent;
}
.top-spacing[_ngcontent-c0] {
    padding-top: 0;
}
/* test */
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: transparent;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
/* test */
.no-search-results .no-search-results-icon {
    color: hsla(0, 0%, 100%, .45);
}
.no-search-results .no-search-results-text {
    color: #b94a48;
}
#movieList {
    margin-top: 40px;
}
.ui-treetable table {
    margin-bottom: 60px;
}
.row.backdrop {
    min-height: 200px
}
.ui-treetable-data.ui-widget-content {
    border: none !important;
    background: transparent!important;
    color: #fff;
}
#movieList > div:nth-child(2) > div > div.col-sm-8.small-padding > p {
    overflow: scroll;
    max-height: 300px;
}
